<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wallet_history.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @wallet_history.amount %>
</p>

<%= link_to 'Edit', edit_wallet_history_path(@wallet_history) %> |
<%= link_to 'Back', wallet_histories_path %>
